@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  @apply bg-white;

  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 100vh;
}
